.sing-up-container {
  width: 420px;
}

/*
.form {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 50px 20px;
  box-sizing: border-box;
  border-left: 1px solid rgb(129, 125, 125);
  border-bottom-left-radius: 25px;
  border-left-style: dotted;
}
button {
  width: 200px;
  height: 50px;
  margin-left: 150px;
  margin-top: 30px;
  border: none;
  transition: all 0.5s;
  border-bottom: 1px solid #646262;
}
button:hover {
  background-color: rgb(200, 192, 181);
  transform: scale(1.05);
  border: none;
}

.title-singup {
  margin-top: -100px;
  font-family: "Source Code Pro";
  font-size: 25px;
  margin-left: 80px;
  color: #383636;
}

label {
  display: flex;
  justify-content: center;
  color: #383636;
  padding: 10px;
  font-size: 20px;
  transition: 1s;
  font-family: "Source Code Pro";
  font-weight: bold;
}
input {
  height: 50px;
  border: none;
  border-bottom: 1px solid #383636;
  outline: 0;
}
input:focus {
  ~ label {
    display: block;
    transition: 0.8s;
    font-size: 1rem;
    color: rgb(233, 130, 130);
    font-weight: 700;
  }
}*/
